
<!DOCTYPE html>
<html class="no-js" lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<title>Eu multimidia</title>
		<meta name="description" content="" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/fontawesome.min.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<header class="navbar">
			<div class="container">
			
				<div class="navbar__menu">
                    <ul>
                       
                    
                        <li>
                            <a href="#sobre">Sobre mim</a>
                        </li>
                        <li>
                            <a href="#contato">Contato</a>
                        </li>
                    </ul>
					
                </div>
				
			</div>
			
        </header>
        
         <section id="sobre" class="topicos">
            <h1>Sobre</h1>
            <div class="descricao">
                <img src="img/foto.jpeg">
                <p>
                    Entusiasta em aprender coisas novas em todas as áreas do conhecimento, principalmente sobre técnologia e ciência.<br> Neste último ano
                    tenho me interessado e dedicado à área de Data Science, cursando pós Big Data Analytics da Mackenzie. 
                    <br>Adorador de pets sendo pai de 4 filhos: dois cachorros e 2 gatas.<br>
                    Amante de jogos online competitivo e com multi jogadores.<br>
                    Atualmente sou estágiario no centro técnologico do banco Itau-Unibanco.
                    
                </p>
            </div>
            
        </section>
            <footer id="contato" >
                <div class="navbar__menu">
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/gabrielrcamaral/" target="_blank">Linkedin</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/amaral.111" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://github.com/GabrielRCAmaral" target="_blank">GitHub</a>
                        </li>
                        <li>
                            <a href="https://www.hackerrank.com/gabriel_r_c_ama1" target="_blank">HackRank</a>
                        </li>
                    </ul>
                </div>
            </footer>
	</body>
</html>
